@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

html,
body {
	height: 100%;
	font-family: 'Montserrat', sans-serif;
	-webkit-font-smoothing: antialiased;
}
/* Oculta a barra de rolagem mantendo o scroll funcional */
.no-scrollbar::-webkit-scrollbar {
	display: none;
}
.no-scrollbar {
	-ms-overflow-style: none; /* IE e Edge */
	scrollbar-width: none; /* Firefox */
}
.box-shadow-dulivi {
	box-shadow: 0 -1px 8px #0003,0 -3px 4px #00000024,0 -3px 3px -2px #0000001f;
}
.cart-shadow {
	box-shadow: 0 1px 5px #0003,0 2px 2px #00000024,0 3px 1px -2px #0000001f;
}
